
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style Code*/

body {
    font: 16px/28px arial, sans serif; 
    background-color: lightgray;
    background-image: url(img/flower.png);
    height: 2000px;
  }

.top-bar{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  background-color: black;
  z-index: 999;
}
.top-bar p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 5px;
  box-sizing: border-box;

}
.container{
    width: 960px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    border: 1px solid lightgray;
  }

.header{
  padding: 20px;
  padding-bottom: 10px;
}

.header .judul{
  font-size: 40px;
  font-weight: bold;
}

.header ul li{
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a{
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.header a:hover{
  color: red;
}

.cover{
  height: 330px;
  background-image: url(img/cooks.jpg);
  background-size: cover;
  background-position: 0 -230px;
}
.main{
  padding: 20px;
  width: 600px;
  box-sizing: border-box;
  float: left;
}
.main h2{
  font-size: 25px;
  font-weight: bold;
}
.main .penulis{
  font-size:  11px;
  margin-top: -5px;
}

.main .penulis a{
  color: #333;
  text-decoration: none;
}

.main .penulis a:hover{
  color: red;
}
.main p{
  margin-bottom: 20px;
  font-size: 15px;
  text-align: justify;
}
/* Side Bar*/
.sidebar{
  width: 300px;
  float: right;
  padding: 20px;
}
.sidebar h3{
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
.sidebar img{
  height: 70px;
  float: left;
  padding-right: 10px;
  padding-bottom: 2px;
}

.sidebar p{
  font: 12px/18px arial;
}

.footer{
  background-color: black;
  padding: 10px;
}

.footer p{
  color: white;
  text-align: center;
  font-size: 12px;
}




/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
     *zoom: 1;
 }